[submodule "miniupnp"]
	path = miniupnp
	url = https://github.com/jfearon/miniupnp.git
[submodule "libwebsockets"]
	path = libwebsockets
	url = https://jfearon@bitbucket.org/jfearon/libwebsockets.git
