[submodule "miniupnp"]
	path = miniupnp
	url = https://github.com/jfearon/miniupnp.git
[submodule "jansson"]
	path = jansson
	url = https://github.com/jfearon/jansson.git
[submodule "libwebsockets"]
	path = libwebsockets
	url = git@bitbucket.org:ickstream/libwebsockets.git
